* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* Header*/
header{
    background-color: #FFA552;
    color: #381D2A;
    padding: 1rem;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.links{
    background-color: #FCDE9C;
    border: solid;
    border-radius: 10px;
    font-size: 20px;
    padding: 0.5rem;
}

.links a{
    color: #381D2A;
    text-decoration: none;
}

.links a:hover{
    color: #ca0263;
    font-size: 21px;
}

/****** Layout */
.main_layout{
    display: flex;
    gap: 2.5rem;
    padding: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

/***** Cards Layout */
.card-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card1, .card2{
    padding: 1rem;
    margin-bottom: 2rem;
}

/***** Card Content */
.content{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: #FCDE9C;
    border-radius: 15px;
}

.intro, .description{
    flex: 1;
    padding: 10px;
    padding: 1rem;
}

/***** Image Styling */
.image, .mda_image{
    width: 250px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
}

/***** Card Headers */
h2 {
    background-color: #FFA552;
    color: #381D2A;
    padding: 10px;
    border-radius: 10px;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 1rem;
}

/***** Resources */

.resources{
    flex: 1;
    padding: 1rem;
    padding: 1rem;
}