.place-title {
    background-color: rgb(5, 5, 39);
    color: whitesmoke;
    text-align: center;
    padding: 2rem 1rem;
}

.place-title h1 {
  font-size: 3rem;         /* big title */
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}

.hero picture,
.hero img {
    width: 100%;
    display: block;
    height: auto;
}

.hero {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 300px;
    height: auto;
}

.card {
    position: absolute;
    background-color: aliceblue;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(41, 37, 37);
    max-width: 200px;
    font-family: sans-serif;
    width: 100%;
}

/** placing data card */
.data-card {
    top: 20px;
    left: 20px;
}

.data-card h3,
.weather-card h3 {
    background-color: rgb(101, 204, 245);
    color: black;
    padding: 0.4rem 0.8rem;
    font-weight: bold;
    border-radius: 6px;
    margin: 0 0 0.5rem 0;

    position: relative;
    left: -30px;
    height: 40px;
    box-shadow: -3px 2px 5px rgb(5, 5, 39);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

/*.weather-card h3 {
    background-color: rgb(101, 204, 245);
    color: black;
    padding: 0.4rem 0.8rem;
    font-weight: bold;
    border-radius: 6px;

    position: relative;
    left: -40px;
} */

.weather-card {
    bottom: 20px;
    right: 20px;
    max-height: calc(100% - 40px);
    overflow: visible;
    padding-left: 20px;
}

.weather-icon {
    font-size: 2rem;
}

footer {
  background-color: rgb(5, 5, 39); 
  color: whitesmoke;               
  text-align: center;              
  padding: 1rem 0;                 
  margin-top: 2rem;                
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
